<% include partials/header %>

<div id="demo">
    <p v-show="peekabooTag">Peekaboooooo</p>
    <div @mouseover="mouseOver">Hover over me</div>
</div>

<script>
    var demo = new Vue({
        el: '#demo',
        data: {
            peekabooTag: false
        },
        methods: {
            mouseOver: function(){
                this.peekabooTag = !this.peekabooTag;
            }
        }
    });
</script>